* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

/* primary button */
.primary_button {
    font-weight: 600;
    font-size: 20px;
    padding: 16px 20px;
    color: #FFFFFF;
    border: 0;
    border-radius: 5px;
    background-color: #FF5959;
    font-family: inter;
}

/* styles Header */
header {
    height: 800px;
    width: 100%;
    background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%), url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header_container {
    text-align: center;
    padding: 200px 310px;
}

.header_title {
    font-weight: 700;
    font-size: 65px;
    line-height: 79px;
    color: #FFFFFF;
    text-align: center;
}

.header_sub_title {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 25px 180px;
    text-align: center;
}

/* styles donate */
.donate_containt {}

.primary {
    padding-left: 500px;
    padding-right: 500px;
    padding-top: 130px;
}

.primary_title {
    color: #121212;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
}

.primary_sub_title {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #707070;
    margin-top: 20px;
    text-align: center;
}

.taka {
    display: flex;
    margin: 0 340px;
    justify-content: space-around;
}

.taka_amount {
    padding: 40px 30px;
    background: #FAFAFA;
    border-radius: 5px;
    color: #707070;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin: 50px 0px;
}

.tk_amount {
    padding: 40px 30px;
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
    color: #FF5959;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin: 50px 0px;
}

.other_title {
    text-align: center;
    margin: 0 340px;
}

.other_amount {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #B3B3B3;
    padding-bottom: 20px;
}

/* styles our section */
.our_containt {
    display: flex;
    margin: 50px 230px;
}

.our_family {
    margin-left: 25px;
    height: 360px;
    width: 350px;
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
}

.our_img {
    padding-top: 60px;
    padding-left: 25px;
}

.our_containt_title {
    padding: 30px 20px;
}

.our_title {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #121212;
}

.our_description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #707070;
    padding-top: 15px;

}

.color_red {
    background-color: rgba(241, 168, 168, 0.185);
}

.color_blue {
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
}

/* styles live donate */
.live_containt {
    display: flex;
    margin: 50px 200px;
    justify-content: space-between;
}

.live_title {
    height: 490px;
    width: 463px;
}

.live_title h2 {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    color: #121212;
    padding: 20px 0;
}

.live_title p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #707070;
    padding-bottom: 30px;
}

.live_img {}

.live_img img {
    height: 460px;
    width: 470px;
    border-radius: 5px;
}
.form{
    width: 809px;
    height: 200px;
    background: #FFF4D6;
    margin: 20px auto;
}
.form_containt{
    padding: 75px 180px;
}
.form input{
    border: oldlace;
    width: 275px;
    height: 55px;
    font-size: 18px;
    border-radius: 5px;
    padding-left: 10px;
}
/* footer  */
footer{
    height: 180px;
    width: auto;
    margin-top: 175px;
    background: #0B0D17;
}
.footer_section{
    text-align: center;
    padding-top: 50px;
}
.footer_section h3{
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #FF5959;
    font-family: cursive;
}
.footer_section p{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #D9DBE1;
    padding-top: 20px;
}